<!DOCTYPE html>
<html lang="en">
<head> <!-- favicon stuff lol-->
  <meta charset="UTF-8">
  <link rel="icon" href="/assets/icon.jpg">
  <link rel="stylesheet" href="/assets/style.css" />
  <meta property="og:description" content="foss catbox-like file sharing" />
  <meta property="og:url" content="https://github.com/kasanetetosbaguette/chest" />
  <meta property="og:image" content="/assets/icon.jpg" />
  <meta name="theme-color" content="#57332f" data-react-helmet="true"  />
  {% block head %}
  {% endblock %}
</head>
<body>
  {% block body %}
  {% endblock %}
</body>
</html>
