{% extends "templates/base.njk" %}
{% from "../components/nav.njk" import nav %}

{% block head %}
  <title>chest</title>
  <meta property="og:title" content="chest | home" />
{% endblock %}

{% block body %}
  <div class="container">
    <img src="/assets/oakchest.png" alt="chest" class="logo" />
    <p>Uploads up to {{ maxBytes | formatBytes }} are allowed (unless you're immune!)</p>
    <form id="uploadForm">
      {% if requireMaster %}
      <div style="margin-bottom:0.5rem; text-align:center">
        <input type="password" id="masterpass" name="masterpass" placeholder="master password" />
      </div>
      {% endif %}
      <label id="dropzone">
        <input type="file" id="fileInput" name="file" />
        <div id="dropText">Drag files here or click to upload</div>
      </label>
      <div class="publicCheckbox"><label><input type="checkbox" name="publicChest" id="publicChest"> Add to the public chest?</label></div>
      <button style="width: 200px; height: 50px" class="serverButton" type="submit">Upload</button>
    </form>
    <div id="result"></div>
    <form action="/account" method="post" class="account-form">
      <label for="accountNumber">Use account number (shareable):</label>
      <input id="accountNumber" name="accountNumber" placeholder="CHEST-XXXXXXXX-XXXXXX" />
      <button type="submit">Use</button>
    </form>
    {{ nav("home") }}
  </div>
  <script type="module" src="/assets/script.js"></script>
{% endblock %}
