{% extends "templates/base.njk" %}
{% from "../components/nav.njk" import nav %}

{% block head %}
  <title>chest's rules</title>
  <meta property="og:title" content="chest's rules" />
{% endblock %}

{% block body %}
  <div class="container">
    <h1>Rules</h1>
    <p>1. No Viruses/Malware is allowed</li>
    <p>2. No NSFW content is allowed</li>
    <p>If you violate these rules I will IP ban you and purge your files.</p>
    <p>It's not hard to listen!</p>
    <div id="result"></div>
    {{ nav("rules") }}
{% endblock %}
