@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/Ubuntu.ttf"),
}


body {
  font-family: "Ubuntu";
  background-image: url("/assets/background.webp");;
  display: flex;
  height: 100vh;
  align-items: top;
  justify-content: center;
  margin: 2;
  color: #000;
}

h1 {font-family: "Ubuntu";}

.logo {
  display: block;
  width: 75%;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* big box that supports everything*/
.container {
  border-radius: 10px;
  padding: 2rem;
  width: 600px;
}

nav {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: cadetblue;
}

a:hover {
  color: lightblue;
}

a:active {
  color: skyblue;
}

.nav-active {
  font-weight: bold;
}

#dropzone input[type="file"] {
  display: none;
}
/* file thingy*/
#dropzone { 
  display: block;
  background-color: rgba(46, 96, 134, 0.75);
  border: 3px dashed #173841;
  border-radius: 16px;
  padding: 3rem;
  cursor: pointer;
  text-align: center;
}

#dropzone.dragover {
  background-color: #555;
  border-color: white;
}

#dropText {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}

.serverButton {
  display: flex;

  outline: 0;
  border: 0;

  cursor: pointer;

  margin-left: auto;
  margin-right: auto;

  border-radius: 50px;
  background-color: #173841;

  justify-content: center;
  align-items: center;

  font-family: "Ubuntu";
  font-size: large;
  font-weight: 600;
  color: #fff;

	text-decoration: none;

  user-select: none;
}

.serverButton:active {
	filter: brightness(0.85);
	transform: translateY(2px);
}

#result {
  margin-top: 1rem;
  margin-bottom: 1rem;
  word-break: break-all;
}

td, th {
  text-align: center;
  padding-bottom: 7px;
  padding-top: 7px;
}

tr:nth-child(even), th {
  background-color: #aabbff;
}

table {
  margin: auto;
  border-spacing: 0;
}

p, li, h1 {
  text-align: center;
}

.publicCheckbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}